body
{
    background:#efefef;
}

.container {
   border:solid 1px;
   
}

.arena {
   position:relative;
  height:300px;
  
 }

#rider {
    position:relative;
    background:yellow;
    width:25px;
    height:25px;
    top:125px;

}

.obstacle{
    position:absolute;
    background:black;
    width:100px;
    height:175px;
    top:125px;
    left:100%;
}
© 2020 GitHub, Inc.
